@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.block{
  width: 15vw;
  height: 15vw;
  background-color: blue;
  
}
.left
{
  float: left;
}
.right{
  float: right;
}